*,
*:after,
*:before {
  box-sizing: border-box;
}

.App {
  display: grid; 
  grid-template-columns: 1fr;
  grid-template-rows: 10% 15% auto;
  font-family: $main-font;
  text-align: center;
  margin: 0;
  padding: 0;

  .search-and-filters {
    display: flex;
    padding: 1% 6%;
    height: 15vh;
  }

  .back-button {
    width: 20%;
    margin: auto;
    border-radius: 10px;
    background-color: whitesmoke;
  }

  .error-message {
    margin-top: 100px;
  }
}

input,
button,
select,
textarea {
  outline: none;
  
  &:active {
    outline: none;
  }
}


@media screen and (max-width: 1000px) { 
  .App {
    grid-template-rows: 10% 27% auto;
    
    .search-and-filters {
      flex-direction: column;
      height: 25vh;
    }
  }
}

@media screen and (max-width: 550px) {
  .App {
    grid-template-rows: 30% 70%;
    
    .search-and-filters {
      padding: 1% 0%;
    }
  }
}

@media screen and (max-width: 410px) {
  .App {
    .search-and-filters {
      height: 10vh;
    }
  }
}