*,
*:after,
*:before {
  box-sizing: border-box;
}

.App {
  display: grid; 
  grid-template-columns: 1fr;
  font-family: $main-font;
  text-align: center;
  margin: 0;
  padding: 0;

  .search-and-filters {
    display: flex;
    padding: 1% 6%;
    height: 15vh;
  }
}

input,
button,
select {
  outline: none;
  
  &:active {
    outline: none;
  }
}