.overlay {
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color: #7676768f;
}

.EventPopUp {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  border-radius: 5px;
  width: 900px;
  height: 405px;
  margin: 20px auto;
  position: fixed;
  display: flex;
  background-color: #fff;
  margin-left: -450px;
  margin-top: -30vh;
  left: 50%;
  top: 50%;
  box-shadow: 5px 5px 10px #3e3d3dbd;

  .display-panel {
    width: 500px;
    margin: 0;
    padding: 0;
  }

  .image-container {
    width: 500px;
    height: 405px;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 0px 0px 5px;
  }

  .text-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  h2,
  h4,
  .event-link {
    margin: 0 20px 10px 20px;
    text-align: left;
    font-family: $main-font;
  }

  .event-link {
    display: block;
    color: black;
    text-decoration: underline;

    &:hover {
      color: blue;
    }
  }

  h2 {
    font-size: 30px;
    text-transform: uppercase;
  }

  p {
    margin: 10px 20px;
    font-family: $main-font;
    text-align: justify;
    height: 90px;
    overflow: scroll;
  }

  img {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
  }

  .event-type {
    text-transform: capitalize;
  }

  .light-text {
    font-weight: 400;
  }

  .button-div {
    width: 90px;
    margin: 0 0 0 auto;
  }

  .wishlist-button,
  .attending-button,
  .close-pop-up,
  .arrow {
    height: 33px;
    width: 33px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .wishlist-button {
    background: url('../images/add_to_wishlist.svg');
    background-size: cover;

    &:hover {
      background: url('../images/remove_from_wishlist.svg');
      background-size: cover;
    }
  }

  .attending-button {
    background: url('../images/add_to_attending.svg');
    background-size: cover;

    &:hover {
      background: url('../images/remove_from_attending.svg');
      background-size: cover;
    }
  }

  .attending-active {
    background: url('../images/remove_from_attending.svg');
    background-size: cover;
  }

  .wishlist-active {
    background: url('../images/remove_from_wishlist.svg');
    background-size: cover;
  }

  .close-pop-up {
    display: block;
    margin: 10px 10px 0 auto;
    background: url('../images/close.svg');
    background-size: cover;
    z-index: 12;
    transition: all 200ms ease-in-out;

    &:hover {
      background: url('../images/close_hover.svg');
      background-size: cover;
      transform: rotate(-90deg);
    }
  }

  .arrow {
    position: relative;
    z-index: 12;
  }

  .forward {
    top: -220px;
    right: -230px;
    background: url('../images/arrow-circle.svg');
    transform: rotate(270deg);
    background-size: cover;

    &:hover {
      background: url('../images/arrow-circle-hover.svg');
      transform: rotate(270deg);
      background-size: cover;
    }
  }

  .back {
    top: -220px;
    right: 225px;
    background: url('../images/arrow-circle.svg');
    transform: rotate(90deg);
    background-size: cover;

    &:hover {
      background: url('../images/arrow-circle-hover.svg');
      transform: rotate(90deg);
      background-size: cover;
    }
  }
}

@media screen and (max-width: 920px) {
  .EventPopUp {
    width: 400px;
    height: 645px;
    margin-top: -40vh;
    margin-left: -200px;
    flex-direction: column;

    h4,
    p,
    a {
      font-size: 14px;
    }

    .close-pop-up {
      width: 25px;
      height: 25px;
    }

    .display-panel {
      width: 398px;
      height: 250px;
    }

    .image-container {
      width: 400px;
      height: 250px;
      border-radius: 5px 5px 0px 0px;
    }

    .text-container {
      width: 400px;
    }

    .forward {
      top: -145px;
      right: -180px;
    }

    .back {
      top: -145px;
      right: 175px;
    }
  }
}

@media screen and (max-width: 550px) { 
  .EventPopUp {
    margin-top: -360px;
  }

}

@media screen and (max-width: 410px) { 
  .EventPopUp {
    width: 310px;
    height: 500px;
    margin-top: -280px;
    margin-left: -155px;

    h2 {
      font-size: 20px;
      margin: 0 8px 5px 8px;
    }

    .event-link,
    h4 {
      margin: 3px 8px;
    }

    p {
      margin: 3px 8px;
      height: 60px;
    }

    .display-panel {
      width: 310px;
      height: 200px;
    }

    .image-container {
      width: 310px;
      height: 200px;
    }

    .text-container {
      width: 310px;
    }

    .forward {
      top: -120px;
      right: -135px;
    }

    .back {
      top: -120px;
      right: 140px;
    }

    .close-pop-up {
      margin: 5px 5px 0 auto;
    }

    .button-div {
      width: 80px;
      padding-right: 0;
    }
  }

}
