

.EventContainer {
  padding-top: 20px;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-content: center;
}

.home {
  height: 75vh;
}

.profile {
  height: 55vh;
}

@media screen and (max-width: 1000px) {  
  .home {
    height: 63vh;
  }
  
}