.EventContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  grid-gap: 10px;
  height: 64vh;
  overflow: scroll;
  justify-content: center;
  margin: 30px 0;
}