.event-pop-up {
  width: 500px;
  height: 800px;
}

h2,
h4,
p {
  text-align: left;
  font-family: $main-font;
}

.image-container {
  width: 500px;
  height: 300px;
  overflow: hidden;
}

img {
  width: 500px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}