.overlay {
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.EventPopUp {
  border: 1px solid black;
  width: 900px;
  height: 405px;
  margin: 20px auto;
  position: fixed;
  display: flex;
  background-color: #fff;
  margin-left: -450px;
  margin-top: -30vh;
  left: 50%;
  top: 50%;

  .display-panel {
    width: 500px;
    margin: 0;
    padding: 0;
  }

  .image-container {
    width: 500px;
    height: 403px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-container {
    width: 400px;
  }
  
  h2,
  h4,
  .event-link {
    margin: 0 20px 10px 20px;
    text-align: left;
    font-family: $main-font;
  }
  
  .event-link {
    display: block;
    color: black;
    text-decoration: underline;
  
    &:hover {
      color: blue;
    }
  }
  
  h2 {
    font-size: 30px;
    text-transform: uppercase;
  }
  
  p {
    margin: 10px 20px;
    font-family: $main-font;
    text-align: justify;
    height: 90px;
    overflow: scroll;
  }
  
  img {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
  }
  
  .event-type {
    text-transform: capitalize;
  }
  
  .light-text {
    font-weight: 400;
  }
  
  .button-div {
    width: 90px;
    margin: 0 0 0 auto;
  }
  
  .wishlist-button,
  .attending-button,
  .close-pop-up,
  .arrow {
    height: 33px;
    width: 33px;
    border: none;
    cursor: pointer;
  }
  
  .wishlist-button {
    background: url('../images/add_to_wishlist.svg');
    background-size: cover;
  
    &:hover {
      background: url('../images/remove_from_wishlist.svg');
      background-size: cover;
    }
  }
  
  .attending-button {
    background: url('../images/add_to_attending.svg');
    background-size: cover;
  
    &:hover {
      background: url('../images/remove_from_attending.svg');
      background-size: cover;
    }
  }
  
  .close-pop-up {
    display: block;
    margin: 10px 10px 0 auto;
    background: url('../images/close.svg');
    background-size: cover;
    z-index: 12;
  
    &:hover {
      background: url('../images/close_hover.svg');
      background-size: cover;
    }
  }

  .arrow {
    position: relative;
    z-index: 12;
  }

  .forward {
    top: -210px;
    right: -230px;
    background: url('../images/arrow_forward.svg');
    background-size: cover;
  
    &:hover {
      background: url('../images/arrow_forward_hover.svg');
      background-size: cover;
    }
  }

  .back {
    top: -210px;
    right: 225px;
    background: url('../images/arrow_back.svg');
    background-size: cover;
  
    &:hover {
      background: url('../images/arrow_back_hover.svg');
      background-size: cover;
    }
  }
}