.Filters {
  height: 12vh;
  width: 50%;

  .filters-title {
    margin: 10px;
  }

  select {
    border: none;
    margin: 5px;
    height: 40px;
    width: 31%;
  }

  option {
    padding: 10px;
  }
}