.Filters {
  width: 65%;

  .filters-title {
    margin: 10px;
  }

  select {
    border: none;
    margin: 0px 5px;
    height: 45px;
    width: 30%;
    font-size: 14px;
    background-color: #eee;
  }

  option {
    padding: 10px;
  }

  .reset-filters { 
    background: url(../images/refresh.svg);
    background-size: cover;
    height: 21px;
    width: 24px;
    border: none;
    cursor: pointer;

    &:hover {
      background: url(../images/refresh-hover.svg);
      background-size: cover;
    }
  }
}

@media screen and (max-width: 1000px) {  
  .Filters {
    width: 100%
  }

  select {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {  
  .Filters {
    select {
      width: 110px;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 410px) {  
  .Filters {
    height: 14vh;

    .filters-title {
      font-size: 14px;
    }

    select {
      height: 35px;
      width: 85px;
      font-size: 12px;
    }
  }
}