.Login {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  border-radius: 5px;
  width: 900px;
  height: 405px;
  margin: 20px auto;
  position: fixed;
  display: flex;
  background-color: #fff;
  margin-left: -450px;
  margin-top: -30vh;
  left: 50%;
  top: 50%;
  box-shadow: 5px 5px 10px #3e3d3dbd;
}