.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  padding: 0px 20px;
  background-color: #00000070;
  z-index: 12;

  .ventures-title {
    font-size: 27px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: white;
  }

  .subtitle {
    align-self: center;
    width: 40%;
    margin-right: 35%;
    text-align: left;
  }
  
  .ventures-slogan {
    font-size: 14px;
    color: white;
    letter-spacing: 0.5px;
    margin: 10px 0 0 0;
  }

  .user-name {
    font-size: 14px;
    color: white;
    margin-top: 5px;
  }

  .home-button {
    background: url(../images/home.svg);
    background-size: cover;
    height: 33px;
    width: 33px;
    border: none;
    cursor: pointer;
  }
  
  .home-active {
    background: url(../images/home-active.svg);
    background-size: cover;
    height: 33px;
    width: 33px;
    border: none;
    cursor: pointer;
  }

  .profile-button {
    background: url(../images/profile.svg);
    background-size: cover;
    height: 33px;
    width: 33px;
    border: none;
    cursor: pointer;

  }
  
  .profile-active {
    background: url(../images/profile-active.svg);
    background-size: cover;
    height: 33px;
    width: 33px;
    border: none;
    cursor: pointer;
  }

  .videos-button {
    background: url(../images/videos.svg);
    background-size: cover;
    height: 33px;
    width: 33px;
    border: none;
    cursor: pointer;
  }

  .calendar-button {
    background: url(../images/calendar.svg);
    background-size: cover;
    height: 33px;
    width: 33px;
    border: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 1005px) { 
  .NavBar {
    .ventures-slogan {
      width: 30%;
      margin-right: 30%;
    }
  } 
}

@media screen and (max-width: 715px) { 
  .NavBar {
    .ventures-slogan {
      width: 40%;
      margin-right: 10%;
    }
  } 
}

@media screen and (max-width: 550px) { 
  .NavBar {
    order: 2;
    position: fixed;
    top: 90%;

    .ventures-slogan {
      display: none;
    }
  } 
}