.Profile {
  height: 90vh;

  .user-profile {
    display: flex;
    justify-content: space-evenly;
    padding: 1% 10% 1% 10%;
    align-items: center;
    min-height: 225px;
    height: 28vh;
  }

  .user-photo {
    height: 200px;
    border-radius: 50%;
  }

  .user-bio-section {
    padding-left: 35px;
    width: 100%;
  }

  .bio-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 100px 110px;
    justify-content: space-between;
  }

  .user-name {
    text-align: left;
    letter-spacing: 3px;
  }

  .edit-name-input {
    width: 80%;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0.67em 0;
    text-align: center;
  }

  .edit-profile-button,
  .logout-button {
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    padding: 4px 0px;
    cursor: pointer;
    color: #f8f8f8;
    background-color: #5c5c5c;
    margin: 0 0 0 auto;

    &:hover {
      background-color: #00cbcb;
    }
  }

  .user-about-me {
    margin: 0px auto 5px auto;
    text-align: left;
    color: #5c5c5c;
    font-weight: 500;
  }

  .user-bio {
    height: 72px;
    text-align: justify;
    margin: 0px auto 15px auto;
    overflow: scroll;
  }

  .edit-bio-input {
    text-align: justify;
    width: 100%;
    height: 90px;
  }

  .view-tabs-section {
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 40px;
    height: 5vh;
  }
    
  .upcoming-button,
  .wishlist-button,
  .past-button {
    border: 1px solid #cecfd5;
    border-top: 2px solid #cecfd5;
    border-bottom: 2px solid #cecfd5;
    text-decoration: none;
    background-color: #eaeaed;
    width: 33.33%;
    cursor: pointer;
    color: #5c5c5c;
    letter-spacing: 1px;
    padding: 10px 0px;
    font-weight: 500;
    
    &:hover {
      color: #00cbcb;
    }
  }
  
  .active {
    background-color: transparent;
    color: #000;
    border: 1px solid #cecfd5;
    border-top: 2px solid #cecfd5;
    border-bottom: none;

    &:hover {
      color: #000;
    }
  }
}

@media screen and (max-width: 920px) {
  .Profile {
    .user-profile {
      padding: 1% 2%;
    }

    .bio-header {
      flex-direction: column;
    }

    .user-name,
    .edit-name-input {
      margin: 8px;
    }

    .edit-profile-button,
    .logout-button {
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .Profile {
    .user-profile {
      height: 22vh;
    }

    .user-photo {
      height: 100px;
      width: 100px;
    }

    .user-bio-section {
      padding-left: 10px;
    }
    
    .user-bio,
    .edit-bio-input {
      height: 90px;
      font-size: 14px;
    }

    .edit-bio-input {
      border: 1px solid lightgrey;
      padding: 5px;
    }

    .edit-profile-button {
      font-size: 14px;
    }
    
    .user-name,
    .edit-name-input {
      font-size: 16px;
    }

    .edit-name-input {
      border: 1px solid lightgrey;
      padding: 5px;
      width: 100%;
      margin-top: 0;
    }

  }
}
