.Profile {
  height: 90vh;

  .user-intro-section {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    align-items: center;

    .user-photo {
      height: 130px;
      border-radius: 50%;
    }

    .user-name {
      letter-spacing: 3px;
    }
  }

  .user-bio-section {
    .user-about-me {
      margin: 0px auto 5px auto;
      text-align: left;
      color: #5c5c5c;
      width: 70%;
      font-weight: 500;
    }

    .edit-profile-button {
      margin-left: 58%;
      border-radius: 5px;
      border: none;
      width: 12%;
      padding: 4px 0px;
      cursor: pointer;
      color: #f8f8f8;
      background-color: #5c5c5c;

      &:focus {
        outline: none;
      }
    }

    .user-bio {
      text-align: justify;
      width: 70%;
      margin: 0px auto 15px auto;
    }
  }

  .view-tabs-section {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #f8f8f8;

    .upcoming-button,
    .wishlist-button,
    .past-button {
      text-decoration: none;
      width: 33.33%;
      cursor: pointer;
      border: none;
      color: #5c5c5c;
      letter-spacing: 1px;
      padding: 10px 0px;
      font-weight: 500;

      &:hover {
        color: #f8f8f8;
        background-color: #5c5c5c;
      }

      &:focus {
        outline: none;
      }
    }

    .active {
      background-color: #5c5c5c;
      color: #f8f8f8;
    }
  }
}
