.Profile {
  height: 90vh;

  .user-profile {
    display: flex;
    justify-content: space-evenly;
    padding: 1% 10% 1% 10%;
    align-items: center;
    min-height: 225px;
    height: 28vh;

    .user-photo {
      height: 200px;
      border-radius: 50%;
    }

    .user-bio-section {
      padding-left: 35px;
      width: 100%;

      .bio-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-name {
          letter-spacing: 3px;
        }

        .edit-name-input {
          width: 80%;
          font-size: 2em;
          font-weight: 600;
          letter-spacing: 3px;
          margin: 0.67em 0;
        }

        .edit-profile-button {
          border-radius: 5px;
          border: none;
          width: 100px;
          height: 30px;
          padding: 4px 0px;
          cursor: pointer;
          color: #f8f8f8;
          background-color: #5c5c5c;
        }
      }

      .user-about-me {
        margin: 0px auto 5px auto;
        text-align: left;
        color: #5c5c5c;
        font-weight: 500;
      }

      .user-bio {
        height: 72px;
        text-align: justify;
        margin: 0px auto 15px auto;
        overflow: scroll;
      }

      .edit-bio-input {
        width: 100%;
        height: 90px;
      }
    }
  }

  .view-tabs-section {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #eaeaed;
    min-height: 40px;
    height: 5vh;
    
    .upcoming-button,
    .wishlist-button,
    .past-button {
      border: 1px solid #cecfd5;
      text-decoration: none;
      width: 33.33%;
      cursor: pointer;
      color: #5c5c5c;
      letter-spacing: 1px;
      padding: 10px 0px;
      font-weight: 500;
      
      &:hover {
        transition: all 0.3s ease-in;
        color: blue;
      }
    }

    .active {
      background-color: #fff;
      color: #000;
      border: 1px solid #cecfd5;
      border-bottom: none;

      &:hover {
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .Profile {
    .user-profile {
      padding: 1% 2%;
    }

    .bio-header {
      flex-direction: column;
    }

    .user-name {
      margin: 8px;
    }

    .edit-profile-button {
      margin-left: auto;
    }
  }
}
