.SearchBar {
  height: 12vh;
  width: 35%;

  .searchbar-title {
    margin: 10px;
  }

  .searchbar-container {
    display: flex;
    padding: 7px 20px;
    background-color: #eee;
    border-radius: 5px;
    height: 45px;
    width: 95%;
    margin: auto;
    
    .searchbar-icon {
      height: 30px;
    }
    
    .searchbar-input {
      width: 90%;
      margin: auto;
      border: none;
      background-color: transparent;
      font-size: 14px;

      &:focus {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 1000px) {  
  .SearchBar {
    width: 100%
  }
}

@media screen and (max-width: 410px) {  
  .SearchBar {
    height: 8vh;

    .searchbar-title {
      display: none;
    }

    .searchbar-container {
      margin-top: 10px;
      height: 35px;

      .searchbar-icon {
        height: 20px;
      }
    }

  }
}