.SearchBar {
  height: 12vh;
  width: 35%;

  .searchbar-title {
    margin: 10px;
  }

  .searchbar-container {
    display: flex;
    padding: 7px 20px;
    border-radius: 5px;
    height: 45px;
    background-color: rgb(248, 248, 248);
    width: 95%;
    margin: auto;

    .searchbar-icon {
      height: 30px;
    }

    .searchbar-input {
      width: 90%;
      margin: auto;
      border: none;
      background-color: transparent;
      font-size: 14px;

      &:focus {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 1000px) {  
  .SearchBar {
    width: 100%
  }
}